Tag1/jaxws-ejb/client/src/main/resources/ejb3Bean.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://jsr181pojo.samples.jaxws.ws.quickstarts.jboss.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EJB3BeanService" targetNamespace="http://jsr181pojo.samples.jaxws.ws.quickstarts.jboss.org/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jsr181pojo.samples.jaxws.ws.quickstarts.jboss.org/" elementFormDefault="unqualified" targetNamespace="http://jsr181pojo.samples.jaxws.ws.quickstarts.jboss.org/" version="1.0">

            <xs:element name="echo" type="tns:echo"/>

            <xs:element name="echoResponse" type="tns:echoResponse"/>

            <xs:element name="getPropertyValues" type="tns:getPropertyValues"/>

            <xs:element name="getPropertyValuesResponse" type="tns:getPropertyValuesResponse"/>

            <xs:complexType name="getPropertyValues">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getPropertyValuesResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="echo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="echoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPropertyValues">
        <wsdl:part element="tns:getPropertyValues" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPropertyValuesResponse">
        <wsdl:part element="tns:getPropertyValuesResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EJB3RemoteInterface">
        <wsdl:operation name="getPropertyValues">
            <wsdl:input message="tns:getPropertyValues" name="getPropertyValues">
            </wsdl:input>
            <wsdl:output message="tns:getPropertyValuesResponse" name="getPropertyValuesResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echo" name="echo">
            </wsdl:input>
            <wsdl:output message="tns:echoResponse" name="echoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EJB3BeanServiceSoapBinding" type="tns:EJB3RemoteInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPropertyValues">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPropertyValues">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropertyValuesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EJB3BeanService">
        <wsdl:port binding="tns:EJB3BeanServiceSoapBinding" name="EJB3BeanPort">
            <soap:address location="http://192.168.56.1:8080/jaxws-ejb-endpoint/EJB3Bean"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>